[client]
port		= {{ port }}  #<---need to change
socket		= /data/{{ port }}/mysql.sock  #<---need to change
default-character-set = utf8

# Here follows entries for some specific programs
[mysql]
no-auto-rehash
# The MySQL server
[mysqld]
user = mysql
port	= {{ port }}   #<---need to change
socket	= /data/{{ port }}/mysql.sock  #<---need to change
basedir	= /application/mysql
datadir = /data/{{ port }}/data     #<---need to change
open_files_limit = 65535
character-set-server=utf8
collation-server = utf8_bin

skip-name-resolve

pid-file = /data/{{ port }}/mysql.pid   #<---need to change
relay-log = /data/{{ port }}/relay-bin   #<---need to change
relay-log-info-file = /data/{{ port }}/relay-log.info  #<---need to change

back_log = 600

max_connections = 1000

max_connect_errors = 6000

open_files_limit = 65535

table_open_cache = 128


max_allowed_packet = 500M

binlog_cache_size = 1M

max_heap_table_size = 8M

tmp_table_size = 16M

read_buffer_size = 2M

read_rnd_buffer_size = 8M

sort_buffer_size = 8M

join_buffer_size = 8M

thread_cache_size = 8

query_cache_size = 8M

query_cache_limit = 2M

key_buffer_size = 4M

ft_min_word_len = 4

log_bin = mysql-bin

expire_logs_days = 30 #超过30天的binlog删除

log_error = /data/{{ port }}/log/mysql-error.log #错误日志路径

slow_query_log = 1

long_query_time = 1 #慢查询时间 超过1秒则为慢查询

slow_query_log_file = /data/{{ port }}/log/mysql-slow.log

performance_schema = 0

explicit_defaults_for_timestamp

#lower_case_table_names = 1 #不区分大小写

skip-external-locking  #MySQL选项以避免外部锁定。该选项默认开启

default-storage-engine = InnoDB  #默认存储引擎

innodb_file_per_table = 1

innodb_open_files = 500

innodb_write_io_threads = 4

innodb_read_io_threads = 4

innodb_thread_concurrency = 0



innodb_purge_threads = 1

innodb_flush_log_at_trx_commit = 2

innodb_log_files_in_group = 3

innodb_max_dirty_pages_pct = 90

innodb_lock_wait_timeout = 120 

bulk_insert_buffer_size = 8M

myisam_sort_buffer_size = 8M

myisam_max_sort_file_size = 10G

myisam_repair_threads = 1

interactive_timeout = 28800

wait_timeout = 28800

slave-skip-errors = 1032,1062,1146
server-id	= 4   #<---need to change

replicate_do_db=product
replicate_do_db=py_beijing_bank
replicate_do_db=py_bond
replicate_do_db=py_bond_2_1
replicate_do_db=py_bond_2_1_log
replicate_do_db=py_brokers
replicate_do_db=py_crontab
replicate_do_db=py_daziguan_2_1
replicate_do_db=py_etl
replicate_do_db=py_finance
replicate_do_db=py_finance_log
replicate_do_db=py_fund
replicate_do_db=py_fund_2_1
replicate_do_db=py_guangda_bank
replicate_do_db=py_insurance_2_1
replicate_do_db=py_log
replicate_do_db=py_maintain
replicate_do_db=py_product
replicate_do_db=py_stock_2_1
replicate_do_db=py_trust
binlog_format = row
binlog_row_image = full
log-slave-updates = ON

log-error = /data/{{ port }}/log/mysql_{{ port }}.err    #<---need to change

innodb_buffer_pool_size = 4G #1/4内存大小
innodb_data_file_path = ibdata1:10M:autoextend

innodb_log_buffer_size = 64M
innodb_log_file_size = 256M
innodb_status_file = 1
transaction_isolation = READ-COMMITTED

innodb_force_recovery = 0

[mysqldump]
quick
max_allowed_packet = 2M

[mysql_safe]
log-error = /data/{{ port }}/data/mysql_{{ port }}.err
pid-file = /data/{{ port }}/mysql.pid


