#!/bin/sh
############################
#this script is created by hu at 2017-1-18
############################

port={{ port }}
CmdPath="/application/mysql/bin"
mysql_sock="/data/${port}/mysql.sock"

#starup_function
function_start_mysql()
{
​    if [ ! -e "$mysql_sock" ];then
​	printf "starting MySQL...\n"
​	nohup ${CmdPath}/mysqld --defaults-file=/data/${port}/my.cnf 2>&1 >/dev/null &
​     else
​	printf "MySQL is running...\n"
​     exit
​     fi
}

function_start_mysql
