#!/bin/sh
############################
#this script is created by hu at 2017-1-18
############################

port=3306
mysql_user="root"
mysql_pwd="{{ password }}"
CmdPath="{{ mysql_dir }}/bin"
mysql_sock="{{ mysql_data_dir }}/${port}/mysql.sock"


#stop function
function_stop_mysql()
{
​	if [ ! -e "$mysql_sock" ];then
​		printf "MySQL is stopped!\n"
​	exit
​	else
​		printf "stopping MySQL...\n"
​		${CmdPath}/mysqladmin -u${mysql_user} -p${mysql_pwd} -S {{ mysql_data_dir }}/${port}/mysql.sock shutdown
​	fi
}

function_stop_mysql